div {
    
    padding: 2px 5px;
    border-style: solid;
    border-color: black;
    border-radius: 5px ;
}

.Shadowkey{
    background-Color: lightgray;
}

.Shadowrow{
    background-Color: darkgray;
}

span {
    /*margin: 5px;*/
    background-color:whitesmoke ;
    padding: 5px;
    border-style: solid;
    border-color: black;  
    border-radius: 5px;
}